body {
    height: 2000px;
}

#menu {
    width: 1000px;
    height: 84px;
    background-color: aqua;
}

#menu li {
    list-style: none;
    border: solid;
    border-width: 2px;
    float: left;
    width: 246px;
}

#menu ul {
    padding-left: 0px;
}

a h1 {
    text-align: center;
    margin-top: 0px;
}

#menu li ul {
    display: none;
    margin-top: 2px;
    background-color: gray;
    width: 246px;
}

#menu li:hover ul{
    display: inline;
    position: absolute;
    z-index: 1;
}

#menu li li {
    margin-left: -2px;
    float: left;
    height: 20px;
}

.inflater {
    height: 100%;
    padding-top: 21.44px;
}

#side_menu {
    float: left;
    border-radius: 10px;
    background-color: aquamarine;
    width: 244px;
    height: 300px;
    border: solid;
}

#side_menu ul {
    padding-left: 20px;
}

#side_menu h3 {
    margin: 0px;
}